.container {
  text-align: center;
}

.board {
  display: inline-block;
}

.cell {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
}

.hidden {
  background-color: #999;
  cursor: pointer;
}

.flag {
  background-color: #FF0000;
  cursor: pointer;
}

